@import '../../../styles/variables';

.menu{
    width: 70%;

    .menuCategoria{
        h2{

        }
    }
    .produtos{

        .card{
            background-color: $cor-primaria;
            margin-bottom: 1rem;
            padding: .5rem 1rem .5rem 1rem;
            border-radius: 5px;
            @include flexBetween(row);

            .valor{
                background-color: $cor-secundaria;
                @include flexCenter(row);
                padding: 7px;
        
                border-radius: 5px;
                p{

                }
            }
        }
    }

}